<div class="container">
	<h2>Privacy Policy</h2>
	<p>This policy applies to all information collected or submitted on the Endurance website and our apps for iPhone and any other devices and platforms.</p>

	<h4>Information we collect</h4>
	<p>Email addresses are only used for logging in, password resets, responding to emails that you initiate, and sending notifications that you request, and promotional emails you opt into.</p>
	<p>We store information about your fitness activities and goals to sync this information between the website and your devices.</p>

	<h4>Technical basics</h4>
	<p>We use cookies on the site and similar tokens in the app to keep you logged in.</p>
	<p>Our server software may also store basic technical information, such as your IP address, in temporary memory or logs.</p>

	<h4>Cloudflare</h4>
	<p>For performance and overload protection, we direct your traffic through Cloudflare before it reaches Endurance’s servers. They have access to some basic technical information to perform this role, such as your IP address. Cloudflare’s privacy policy is <a href="https://www.cloudflare.com/privacypolicy/">here</a>.</p>

	<h4>Analytics</h4>
	<p>Endurance’s app collects aggregate, anonymous statistics, such as the percentage of users who use particular features, to improve the app.</p>

	<h4>Information usage</h4>
	<p>We use the information we collect to operate and improve our website, apps, and customer support.</p>
	<p>We do not share personal information with outside parties except to the extent necessary to accomplish Endurance’s functionality. We may share anonymous, aggregate statistics with outside parties, such as how many people record fitness activities in a given week.</p>
	<p>We may disclose your information in response to subpoenas, court orders, or other legal requirements; to exercise our legal rights or defend against legal claims; to investigate, prevent, or take action regarding illegal activities, suspected fraud or abuse, violations of our policies; or to protect our rights and property.</p>
	<p>In the future, we may sell to, buy, merge with, or partner with other businesses. In such transactions, user information may be among the transferred assets.</p>

	<h4>Deleting information</h4>
	<p>Endurance may delete your information at any time and for any reason, such as technical needs, legal concerns, abuse prevention, removal of idle accounts, data loss, or any other reason.</p>

	<h4>California Online Privacy Protection Act Compliance</h4>
	<p>We comply with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>

	<h4>Children’s Online Privacy Protection Act Compliance</h4>
	<p>We never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>

	<h4>Information for European Union Customers</h4>
	<p>By using Endurance and providing your information, you authorize us to collect, use, and store your information outside of the European Union.</p>

	<h4>International Transfers of Information</h4>
	<p>Information may be processed, stored, and used outside of the country in which you are located. Data privacy laws vary across jurisdictions, and different laws may be applicable to your data depending on where it is processed, stored, or used.</p>

	<h4>Your Consent</h4>
	<p>By using our site or apps, you consent to our privacy policy.</p>

	<h4>Contacting Us</h4>
	<p>If you have questions regarding this privacy policy, you may email privacy@endurancegoals.app.</p>
</div>
